<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../tailwind.css" rel="stylesheet">
    <link href="../base.css" rel="stylesheet">
    <style>

    </style>
    <title>Agency dashboard</title>
</head>
<body>

<div class="flex flex-row flex-wrap md:flex-nowrap justify-start items-start w-full min-h-full box-border">
    <!-- LEFT MENU START-->
    <div class="w-full md:w-96 p-3 xl:p-5 2xl:p-10 new-bg-purple-100 self-stretch  min-h-screen box-border">
        <div class="fixed w-60">
            <div class="flex flex-row flex-nowrap items-center justify-start  mb-10">
                <img class="w-12 mr-2.5" src="../images/logo.png">
                <p class="text-lg 2xl:text-2xl tracking-wide text-black">POLIZZACERTA </p>
            </div>
            <div>
                <ul class="new-leftMenu-color">
                    <li class="flex flex-row flex-nowrap justify-start items-center mb-2 py-3 pl-4 rounded-xl">
                        <img class="new-leftMenu-icon" src="../images/dashboard-icon.png" alt="icon"><a
                            href="#">Dashboard</a>
                    </li>
                    <li class="flex flex-row flex-nowrap  justify-start items-center mb-2 py-3 pl-4 rounded-xl  new-active">
                        <img
                                class="new-leftMenu-icon" src="../images/tokens-icon.png" alt="icon"><a
                            href="#">Tokens </a>
                    </li>
                    <li class="flex flex-row flex-nowrap  justify-start items-center mb-2 py-3 pl-4 rounded-xl"><img
                            class="new-leftMenu-icon" src="../images/contracts-icon.png" alt="icon"><a
                            href="#">Contracts</a>
                    </li>
                    <li class="flex flex-row flex-nowrap  justify-start items-center mb-2 py-3  pl-4 rounded-xl new-inner-block">
                        <img
                                class="new-leftMenu-icon" src="../images/download-icon.png" alt="icon">
                        <a class="new-list" href="#">Upload Contract</a>
                        <img
                                class="new-leftMenu-icon new-after" src="../images/arrow-right-menu.png" alt="icon">
                        <ul class="new-leftMenu-color new-inner-menu">
                            <li class="flex flex-row flex-nowrap justify-start items-center mb-2 py-3 pl-4 rounded-xl ">
                                <img class="new-leftMenu-icon" src="../images/manual-icon.png" alt="icon"><a href="#">Manual
                                Upload</a>
                            </li>
                            <li class="flex flex-row flex-nowrap  justify-start items-center mb-2 py-3 pl-4 rounded-xl">
                                <img
                                        class="new-leftMenu-icon" src="../images/auto-icon.png" alt="icon"><a
                                    href="#">Automatic Upload (API) </a></li>
                        </ul>

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- LEFT MENU END-->
    <div class="w-full  p-3 xl:p-5 2xl:p-10 box-border">
        <div class="w-full rounded-xl new-bg-purple-100 h-16 shadow-md flex justify-end py-4 px-8 mb-8">
            <div class="flex justify-between  items-center">
                <p class="flex flex-col justify-between items-end "><span
                        class="text-base text-right">John Doe</span><span class="text-disable text-xs">Admin</span></p>
                <p><img class="ml-4 rounded-full bg-purple-600 bg-opacity-25" src="../images/avatar.png" alt="avatar"></p>
            </div>
        </div>

        <div class="w-full flex justify-content-between mb-8">
            <div class="w-1/2 flex justify-start  items-center">
                <p><img  src="../images/company-logo.png"
                        alt="company logo"></p>
                <p class="flex flex-col justify-start items-start ">
                    <span class=" text-xl 2xl:text-3xl text-left font-bold">Imkliva Agency</span>
                    <span class="text-sm 2xl:text-lg text-left font-normal">17364398438934039409 (Tax ID)</span>
                </p>
            </div>
            <div class="w-1/2 flex flex-col justify-center  items-end">
                <div class="text-xl 2xl:text-3xl text-right font-bold">Associated with</div>

                <div class="flex flex-row justify-between items-start ">
                    <img  src="../images/insh-company-2.png"
                         alt="company logo">
                    <p class="text-xs text-right font-normal">PromTransInvest</p>
                </div>
            </div>
        </div>

        <div class="w-full flex flex-nowrap justify-content-between mb-6">
            <div class="w-5/12 new-box-shadow rounded-lg mr-6   p-3 xl:p-5 2xl:p-10 ">
                <p class="mb-5">
                    <label class="text-base font-medium " for="phone">Phone for assistance</label>
                    <input class="p-2.5 text-base font-normal border w-full rounded-lg placeholder-gray-600 placeholder-opacity-75 focus:outline-none  focus:border-indigo-300 focus:border"
                           type="text" name="phone" id="phone" placeholder="+7 (902) 750-98-00">
                </p>
                <p class="mb-5">
                    <label class="text-base font-medium " for="adress">Adress</label>
                    <input class="p-2.5 text-base font-normal border w-full rounded-lg placeholder-gray-300 focus:outline-none  focus:border-indigo-300 focus:border" type="text"
                           name="adress" id="adress" placeholder="1st Avenue 27, 3874" disabled>
                </p>
                <p class="">
                    <label class="text-base font-medium " for="number">Insurance Identification Number</label>
                    <input class="p-2.5 text-base font-normal border w-full rounded-lg placeholder-gray-300 focus:outline-none  focus:border-indigo-300 focus:border" type="text"
                           name="number" id="number" placeholder="837483358" disabled>
                </p>
            </div>
            <div class="w-7/12 new-box-shadow rounded-lg   p-3 xl:p-5 2xl:p-10 ">
                <p class="text-xl mb-5 font-bold w-full text-left">Statistics of the certified contracts</p>
                <p> block </p>
            </div>
        </div>

        <div class="w-full  mb-6">
            <div class="new-box-shadow rounded-lg   p-3 xl:p-5 2xl:p-10 w-full flex flex-nowrap flex-col">
                <p class="text-xl mb-5 font-bold w-full text-left">Responsible</p>
                <div class="flex justify-start items-center w-full">
                    <div class="mb-5 w-5/12 mr-4 pr-3 xl:pr-5 2xl:pr-10" >
                        <p class="mb-5">
                            <label class="text-base font-medium " for="name">Name</label>
                            <input class="p-2.5 text-base font-normal border w-full rounded-lg placeholder-gray-600 placeholder-opacity-75 focus:outline-none  focus:border-indigo-300 focus:border"
                                   type="text" name="name" id="name" placeholder="Jax Teller">
                        </p>
                        <p class="mb-5">
                            <label class="text-base font-medium " for="position">Position</label>
                            <input class="p-2.5 text-base font-normal border w-full rounded-lg placeholder-gray-600 placeholder-opacity-75 focus:outline-none  focus:border-indigo-300 focus:border"
                                   type="text" name="position" id="position" placeholder="Director" >
                        </p>
                    </div>
                    <div class="mb-5 w-5/12">
                        <p class="mb-5">
                            <label class="text-base font-medium " for="user-phone">Phone</label>
                            <input class="p-2.5 text-base font-normal border w-full rounded-lg placeholder-gray-600 placeholder-opacity-75 focus:outline-none  focus:border-indigo-300 focus:border"
                                   type="text" name="user-phone" id="user-phone" placeholder="+7 (902) 750-98-00">
                        </p>
                        <p class="mb-5">
                            <label class="text-base font-medium " for="email">Email</label>
                            <input class="p-2.5 text-base font-normal border w-full rounded-lg placeholder-gray-600 placeholder-opacity-75 focus:outline-none  focus:border-indigo-300 focus:border"
                                   type="email" name="email" id="email" placeholder="1@1.com" >
                        </p>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
<script src="../left-menu.js"></script>
</body>
</html>