<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../tailwind.css" rel="stylesheet">
    <link href="../base.css" rel="stylesheet">
    <style>

    </style>
    <title>Company login</title>
</head>
<body>

<div class="flex flex-col  justify-center items-center w-full min-h-screen box-border">
   <div class="w-96 h-2/3 bg-purple-50 p-4">
       <div class="flex flex-row flex-nowrap items-start justify-center mt-16 mb-10">
           <img class="w-8 mr-2.5" src="../images/logo.png">
           <p class="text-lg 2xl:text-xl tracking-wide text-black">POLIZZACERTA </p>
       </div>

   </div>
</div>

</body>
</html>