<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../tailwind.css" rel="stylesheet">
    <link href="../base.css" rel="stylesheet">
    <style>

    </style>
    <title>Company tokens-upload</title>
</head>
<body>

<div class="flex flex-row flex-wrap md:flex-nowrap justify-start items-start w-full min-h-full box-border">
    <!-- LEFT MENU START-->
    <div class="w-full md:w-96 p-3 xl:p-5 2xl:p-10 new-bg-purple-100 self-stretch  min-h-screen box-border">
        <div class="fixed w-60">
            <div class="flex flex-row flex-nowrap items-center justify-start  mb-10">
                <img class="w-12 mr-2.5" src="../images/logo.png">
                <p class="text-lg 2xl:text-2xl tracking-wide text-black">POLIZZACERTA </p>
            </div>
            <div>
                <ul class="new-leftMenu-color">
                    <li class="flex flex-row flex-nowrap justify-start items-center mb-2 py-3 pl-4 rounded-xl">
                        <img class="new-leftMenu-icon" src="../images/dashboard-icon.png" alt="icon"><a
                            href="#">Dashboard</a>
                    </li>
                    <li class="flex flex-row flex-nowrap  justify-start items-center mb-2 py-3 pl-4 rounded-xl  ">
                        <img
                                class="new-leftMenu-icon" src="../images/tokens-icon.png" alt="icon"><a
                            href="#">Tokens </a>
                    </li>
                    <li class="flex flex-row flex-nowrap  justify-start items-center mb-2 py-3 pl-4 rounded-xl"><img
                            class="new-leftMenu-icon" src="../images/contracts-icon.png" alt="icon"><a
                            href="#">Contracts</a>
                    </li>
                    <li class="flex flex-row flex-nowrap  justify-start items-center mb-2 py-3  pl-4 rounded-xl new-inner-block new-active">
                        <img
                                class="new-leftMenu-icon" src="../images/download-icon.png" alt="icon">
                        <a class="new-list" href="#">Upload Contract</a>
                        <img
                                class="new-leftMenu-icon new-after" src="../images/arrow-right-menu.png" alt="icon">
                        <ul class="new-leftMenu-color new-inner-menu">
                            <li class="flex flex-row flex-nowrap justify-start items-center mb-2 py-3 pl-4 rounded-xl ">
                                <img class="new-leftMenu-icon" src="../images/manual-icon.png" alt="icon"><a href="#">Manual
                                Upload</a>
                            </li>
                            <li class="flex flex-row flex-nowrap  justify-start items-center mb-2 py-3 pl-4 rounded-xl">
                                <img
                                        class="new-leftMenu-icon" src="../images/auto-icon.png" alt="icon"><a
                                    href="#">Automatic Upload (API) </a></li>
                        </ul>

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- LEFT MENU END-->
    <div class="w-full  p-3 xl:p-5 2xl:p-10 box-border">
        <div class="w-full rounded-xl new-bg-purple-100 h-16 shadow-md flex justify-end py-4 px-8 mb-1">
            <div class="flex justify-between  items-center">
                <p class="flex flex-col justify-between items-end "><span
                        class="text-base text-right">John Doe</span><span class="text-disable text-xs">Admin</span></p>
                <p><img class="ml-4 rounded-full bg-purple-600 bg-opacity-25" src="../images/avatar.png" alt="avatar">
                </p>
            </div>
        </div>

        <div class="w-full  contracts-block ">
            <div class=" pt-3 xl:pt-5 2xl:pt-10 w-full flex flex-wrap flex-col justify-center items-start">
                <p class="text-3xl mb-4 font-bold w-full text-left">API Information</p>

                <p class="text-xl mb-4 font-normal w-full text-left">This request demonstrates using the XML output
                    flag:</p>
                <p class="relative w-full 2xl:w-3/5 bg-purple-300 bg-opacity-75 rounded p-3 mb-6 text-base">
                    <span>https://polizzacerta.com/contracts/xml?adress-1689+Promtransinvest+lorem ipsum,CA&key=[YOUR_API_KEY]</span>
                    <img class="w-4 absolute top-2 right-2" src="../images/save.png" alt="save">
                </p>

                <p class="text-xl mb-4 font-normal w-full text-left">Your personal API key:</p>
                <p class="relative w-full 2xl:w-3/5 bg-purple-300 bg-opacity-75 rounded p-3 mb-6 text-base">
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </span>
                    <img class="w-4 absolute top-2 right-2" src="../images/save.png" alt="save">
                </p>

                <p class="text-xl mb-4 font-normal w-full text-left">Examples of JSON and XML responses:</p>

                <div class="relative w-full 2xl:w-3/5 bg-purple-300  bg-opacity-75 rounded p-3 mb-6 text-base">
                    <p class="double-buttons">
                        <button class="button-left mb-5  items-center justify-center py-2 px-4 bg-indigo-600 bg-opacity-100 text-white text-xs rounded-l-md   ">
                            XML
                        </button>
                        <button class="button-right mb-5 relative -left-1 items-center justify-center py-2 px-4 bg-indigo-600 bg-opacity-50 text-white text-xs rounded-r-md  ">
                            JSON
                        </button>
                    </p>
                    <!-- content for XML button start -->
<pre class="content-for-button show">
&lt;?xml version="1.0"?&gt;<br>
&lt;API&gt;<br>
&nbsp;&nbsp;&nbsp; &lt;CODE&gt;<br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &lt;TITLE&gt; Api #1 &lt;/TITLE&gt;<br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &lt;CODE&gt; 255325ttwt2355235252 &lt;/CODE&gt;<br>
&nbsp;&nbsp;&nbsp; &lt;/CODE&gt;<br>
&nbsp;&nbsp;&nbsp; &lt;CODE&gt;<br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &lt;TITLE&gt;  Api #2 &lt;/TITLE&gt;<br>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &lt;CODE&gt; 2421441414212434414214 &lt;/CODE&gt;<br>
&nbsp;&nbsp;&nbsp; &lt;/CODE&gt;<br>
&nbsp;&nbsp;&nbsp; &lt;CODE&gt;<br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &lt;TITLE&gt;  Api #3 &lt;/TITLE&gt;<br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &lt;CODE&gt; 42141421441414234 &lt;/CODE&gt;<br>
&nbsp;&nbsp;&nbsp; &lt;/CODE&gt;<br>
&nbsp;&nbsp;&nbsp; &lt;CODE&gt;<br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &lt;TITLE&gt;  Api #4 &lt;/TITLE&gt;<br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &lt;CODE&gt; 432$53434346654654636 &lt;/CODE&gt;<br>
&nbsp;&nbsp;&nbsp; &lt;/CODE&gt;<br>
&nbsp;&nbsp;&nbsp; &lt;CODE&gt;<br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &lt;TITLE&gt;  Api #5 &lt;/TITLE&gt;<br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &lt;CODE&gt; 4ththwt4wt43636452525253 &lt;/CODE&gt;<br>
&nbsp;&nbsp;&nbsp; &lt;/CODE&gt;<br>
&lt;/CODE&gt;<br>

</pre>
 <!-- content for XML button end -->

<!-- content for JSON button start -->
<pre class="content-for-button hidden">

{
   "results" : [
      {
         "address_components" : [
            {
               "long_name" : "1600",
               "short_name" : "1600",
               "types" : [ "street_number" ]
            },
            {
               "long_name" : "Amphitheatre Pkwy",
               "short_name" : "Amphitheatre Pkwy",
               "types" : [ "route" ]
            },
            {
               "long_name" : "Mountain View",
               "short_name" : "Mountain View",
               "types" : [ "locality", "political" ]
            },
            {
               "long_name" : "Santa Clara County",
               "short_name" : "Santa Clara County",
               "types" : [ "administrative_area_level_2", "political" ]

</pre>
<!-- content for JSON button end -->

                    <img class="w-4 absolute top-2 right-2" src="../images/save.png" alt="save">
                </div>
            </div>
        </div>

    </div>
</div>
<script src="../left-menu.js"></script>
<script src="../token-page-switcher.js"></script>
</body>
</html>